#pagetitle {
    position:         absolute;
    top:              10px;
    right:             10px;
    height:           40px;
    font-style:       normal;
    font-family:      Helvetica, sans-serif;
    font-stretch:     condensed;
    font-size:        40px;
    text-align:       right;
}

.panetitle {
    text-align:       left;
    font-family:      Helvetica, sans-serif;
    font-size:        7px;
}

#statuspane {
    position:         absolute;
    top:              60px;
    left:             10px;
    background-color: white;
    border-width:     0px;
    background-color: #f0f0f0;
}

#uartpane {
    position:         absolute;
    left:             10px;
    background-color: white;
    border-width:     0px;
    background-color: #f0f0f0;
}

.uartchatbg {
    fill:             blue;
}

.uartchatmsg {
    fill:             white;
}

#spectrumpane {
    position:         absolute;
    top:              60px;
    left:             10px;
    background-color: white;
    border-width:     0px;
    background-color: #f0f0f0;
}

.rssibars {
    stroke:           blue;
    stroke-width:     2px;
}

#versionlabel {
    position:         absolute;
    width:            200px;
    height:           20px;
    text-align:       left;
    font-family:      Helvetica, sans-serif;
    font-size:        13px;
}

#urllabel {
    position:         absolute;
    width:            200px;
    height:           20px;
    text-align:       right;
    font-family:      Helvetica, sans-serif;
    font-size:        13px;
}
